.logo_back,
.logo_front {
	@apply left-0 top-[calc(50%-15px)] absolute ease-in-out duration-1000;
	transform: rotateX(0deg);
}
.logo_back {
	transform: rotateY(180deg);
}
.logo:hover .logo_front {
	transform: rotateY(-180deg);
}

.logo:hover .logo_back {
	transform: rotateY(0deg);
}
