* {
	padding: 0;
	margin: 0;
	border: 0;
}
*,
:after,
:before {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:active,
:focus,
a:active,
a:focus {
	outline: 0;
}
aside,
footer,
header,
nav {
	display: block;
}
body,
html {
	height: 100%;
	width: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
button,
input,
textarea {
	font-family: inherit;
}
input::-ms-clear {
	display: none;
}
button {
	cursor: pointer;
}
button::-moz-focus-inner {
	padding: 0;
	border: 0;
}
a,
a:hover,
a:visited {
	text-decoration: none;
}
ul li {
	list-style: none;
}
img {
	vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: 400;
}

:root {
	--color-secondary-white: #f7f7f6;
	--color-accent-pink: #ff005d;
	--color-accent-dark-pink: #cf004b;
	--color-secondary-gray: #656463;
	--color-secondary-dark-gray: #383737;
	--color-primary-gray: #342e2e;
	--color-primary-black: #1b1919;
}

html {
	color-scheme: dark;
	background-color: var(--color-primary-black);
}

.container {
	--width: 1440px;
	--space: 15px;
	width: 100%;
	margin: 0 auto;
	padding: 0 var(--space);
	max-width: calc(var(--width) + (var(--space) * 2));
}
