.sidebar {
	@apply w-full max-w-[var(--sidebar-size)] bg-sidebar-gray fixed top-[var(--header-size)] max-h-[calc(100dvh-var(--header-size))] h-full flex flex-col overflow-y-auto;
	scrollbar-color: transparent transparent;
	scrollbar-width: thin;
}

.sidebar:hover {
	scrollbar-color: #707ca2 transparent;
}
